<h1>A propos de nous !</h1>
<div class="container">
    <h2>L'histoire de l'entreprise</h2>
    <p>
        Fondée en 1998, <strong>"Au petit village"</strong> est le fruit d'une passion commune pour la bande dessinée française, et notamment pour les aventures d'<strong>Astérix et Obélix</strong>, qui ont bercé l'enfance de nos fondateurs, Lucie Bernard et Maxime Lefèvre. </p>
        
    <p>    Amoureux de ces récits captivants et désireux de partager leur enthousiasme pour ces héros iconiques, ils ont décidé de créer une entreprise spécialisée dans la fabrication de figurines de haute qualité, inspirées de l'univers de <strong>Goscinny et Uderzo</strong> .</p>

    <p>    Située au cœur de la <strong>Bretagne</strong>, une région qui incarne l’esprit de résistance et de liberté des irréductibles Gaulois, "Au petit village" est née d'un atelier artisanal où chaque figurine est confectionnée avec le plus grand soin. Nos artisans, véritables passionnés de sculpture et de peinture, mettent en œuvre des techniques traditionnelles pour donner vie à des créations uniques qui captent l'essence des personnages d'Astérix et Obélix.
        
        Au fil des années, notre gamme de produits s'est enrichie pour inclure non seulement des figurines, mais aussi des dioramas détaillés représentant des scènes mythiques des bandes dessinées. Chaque pièce est conçue comme un hommage à l'esprit ingénieux et à l'humour qui caractérisent les aventures des Gaulois.
        
        </p>
        
    <p>    C'est avec une attention particulière à la qualité et au détail que Lucie, Maxime et toute l'équipe continuent d'enrichir le monde de la collection et de permettre à chacun de ramener un morceau de la Gaule antique dans son foyer.
    </p>
  
    <!-- Photo au bas et au centre de la page -->
    <div class="text-center">
      <img src="./assets/img/Global.jpeg" alt="Photo de l'entreprise" class="img-fluid">
    </div>
  </div>
  

