h1 {
    text-align: center;
    color: #DA001E
    ;
}
p {
    line-height: 1.6; /* Augmente la hauteur de ligne pour améliorer la lisibilité */
    margin-top: 20px; /* Espace au-dessus de chaque paragraphe */
    margin-bottom: 20px; /* Espace en dessous de chaque paragraphe */
}
.container {
    margin-top: 50px; /* Ajoute une marge de 50 pixels en haut */
    margin-bottom: 100px; /* Ajoute une marge de 50 pixels en bas */
  }
  button{
    background-color: #FDD90B ;
    margin-right: 10px;
    margin-top: 20px;
  }
