
<h1>Bienvenue "Au Petit Village" !</h1>
<div class="container">
<p>

    Plongez dans l'univers magique des célèbres Gaulois <strong>Astérix et Obélix</strong> avec notre collection unique de figurines faites à la main.</p>
    <p> Nous sommes fiers de capturer l'esprit et l'aventure de vos héros préférés à travers nos créations artisanales.
    
    Chez "Au petit village", nous célébrons l'héritage et le charme intemporel de la bande dessinée d'<strong>Astérix et Obélix</strong> en proposant des figurines de qualité supérieure, minutieusement sculptées et peintes à la main par nos artisans passionnés.</p>
    
   <p> Que vous soyez un collectionneur passionné ou à la recherche d'un cadeau unique, notre gamme de figurines vous transporte dans le monde drôle et captivant de ces héros iconiques.
    
    Découvrez dès maintenant notre collection exclusive et ajoutez une touche de magie gauloise à votre foyer !</p>

</div> 
<h2>Nos figurines</h2>
<div class="search-bar">
    <input type="text" class="form-control" placeholder="Recherche par nom" [(ngModel)]="searchTerm">
  </div>
  
<div class="boutons">
    
    <button (click)="sortByPrice('Asc')">Trier par prix croissant</button>
    <button (click)="sortByPrice('Desc')">Trier par prix décroissant</button>
  </div>
  
<!-- home.component.html -->
<div class="container mt-4" >
    <div class="row">
      <div class="col-md-6" *ngFor="let product of filteredProducts | filterByName:searchTerm"> 
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" [src]="product.imageUrl" alt="Product Image">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View details</button>
                <!-- Ajouter d'autres boutons pour des actions ici -->
              </div>
              <small class="text-muted">Price: {{ product.price | currency }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  